<div class="container mt-1">
    <div class="card bg-dark">
        <div class="card-body">
          <h5 class="card-title" style="color:white">Listado de Animales</h5>
          <button type="button" class="btn btn-secondary" [routerLink]="['/form']" routerLinkActive="router-link-active" >New Animal</button>
          <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Common Name</th>
                    <th>Scientific Name</th>
                    <th>Specie</th>
                    <th>Family</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let animal of animals">
                    <th>{{ animal.id }}</th>
                    <th>{{ animal.commonName }}</th>
                    <th>{{ animal.scientificName }}</th>
                    <th>{{ animal.specie }}</th>
                    <th>{{ animal.family }}</th>
                    <th>
                        <span>
                            <button type="button" class="btn btn-warning m-1" [routerLink]="['/form', animal.id]" routerLinkActive="router-link-active">Editar</button>
                            <button type="button" class="btn btn-danger m-1" (click)="delete(animal)">Eliminar</button>
                        </span>
                    </th>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
</div>