<div class="container mt-4">
    <div class="card d-flex justify-content-center align-items-center">
        <img src="./assets/images/portada.jpg" class="card-img-top" alt="Two pandas playing">
        <div class="card-body">
        <h5 class="card-title">Desubre los espectáculos del Zoo</h5>
        <p class="card-text">¡Bienvenidos al fascinante mundo del zoo, donde la magia de la naturaleza cobra vida! Sumérjanse en una aventura única y descubran la diversidad de nuestras especies exóticas mientras exploramos juntos los maravillosos secretos de la fauna mundial.</p>
            <p class="card-text">¡Prepárense para una experiencia inolvidable llena de asombro y aprendizaje!</p>
        <a [routerLink]="['/animals']" routerLinkActive="router-link-active"  class="btn btn-primary">Check our animals!</a>
        </div>
    </div>
</div>
